.hero-section{
    background-image: url('/src//assets/rectangle.png');
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 1489px;
}

.nav-bar{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.nav-bar_link{
    font-family: Roboto;
    text-decoration: none;
    color: #ffffff;
    margin-left: 1.8rem;
    font-size: 20px;
}

.img-logo{
    margin-right: 6%;
}

.select-lang{
    margin-left: 5%;
    background-color: transparent;
    color: #ffffff;
    border-radius: 6px;
    font-size: 20px;
    padding: 3px;
    border-color: #ffffff;
}

.hero-section-content{
    display: flex;
    margin: 0 0 0 12%;
}

.hero-section_title{
    font-family: Sarpanch;
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 12%;
}

.hero-section_subtitle{
    font-family: Roboto Flex;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 12%;
}

.button-hero-section{
    font-family: Roboto Flex;
    font-size: 25px;
    font-weight: 600;
    line-height: 29.3px;
    text-align: left;
    background-color: #E05330;
    color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    border: none;
}

.hero-section_img{
    margin-left: 12%;
}

.hero-section_img-1{
    width: 90%;
}

.hero-content-two{
    margin-top: 35px;
    margin-left: 12%;
}
.tiitle-two{
    color: #0F298B;
    font-family: Space Grotesk;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.subtiitle-two{
    font-family: Space Grotesk;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12%;
}



