.whatsapp-float{
    position: fixed; 
    width: 60px; 
    height: 60px;
    bottom: 80px; 
    right: 20px; 
    background-color: #ffff; 
    border-radius: 50%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    text-decoration: none;  
}

.whatsapp-float img {
    width: 60px; 
    height: 60px;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1); 
    transition: 0.2s ease-in-out;
  }